<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- https://weblog.west-wind.com/posts/2012/dec/28/building-a-better-net-application-configuration-class-revisited -->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>